*,
*::after
*::before{
    box-sizing: border-box;
}

.page-body {
    margin: 0;
    font-family:'Montserrat'sans-serif;;
    max-width: 1280px;
}

.page-header {
    margin: 25.5px auto;
    width: max-content;
}

.navbar-menu {
    text-align: center;
    text-transform: uppercase;
}

.navbar-menu-item {
    display: inline;
    list-style: none;
}

.navbar-menu-item + .navbar-menu-item {
    margin-left: 72px;
}

.navbar-menu-link {
    text-decoration: none;
    list-style-type: none;
    margin: 6px 15px;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
   font-weight: bold;
   color: #FF0000;
}
 .img {
    width: 100%;
    height: 100%;
 }
 .service-description {
    margin: 49px;
 }

 .section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    font-family:'Montserrat'sans-serif;;
    color: #373737;
 }

 .section-subtitle {
    text-align: center;
    margin: 28px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    font-family:'Montserrat'sans-serif;
    
 }
 
 .start-link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 12px;
    font-size: 12px;
    letter-spacing: 1.8px;
    background-color: #FF0000;
    color: #FFFFFF;
    width: fit-content;
    padding: 17.5px 42.5px;
    border-radius: 4px;
    font-weight: bold;
    font-family:'Montserrat'sans-serif;
 }

 .footer-text {
    text-align: end;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #373737;
    letter-spacing: 2.4px;
    font-family:'Montserrat'sans-serif;
 }
 
